Ques.1 Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a
file named test.txt.

In [1]:
#Ans.1
test1 = 'This is a test of the emergency text system,'
print(test1)
with open('test.txt','w') as file:
    file.write(test1)
    file.close()

This is a test of the emergency text system,

In [7]:
! type test.txt #reading the contents

This is a test of the emergency text system,

Ques.2 Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [12]:
#Ans.2
with open('test.txt','r') as file:
    test2 = file.read()
    
print(test2)  
print(test1)#No difference both are same

This is a test of the emergency text system,
This is a test of the emergency text system,

Ques.3 Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [ ]:
#Ans.3
import csv
data =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as csvfile:
    book = csv.writer(csvfile)
    book.writerows(data)

Ques.4 Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [2]:
#Ans.4
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('create table books(title varchar(20),author varchar(20), year int)')
conn.commit()

Ques.5 Read books.csv and insert its data into the book table.

In [ ]:
#Ans.5
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', conn, if_exists='append', index = False)

Ques.6 Select and print the title column from the book table in alphabetical order.

In [3]:
#Ans.6
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()
c.execute('select title from books order by title asc')
print(c.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

Ques.7 From the book table, select and print all columns in the order of publication.

In [6]:
#Ans.7
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
result = cursor.execute("SELECT * FROM books ORDER BY year")
for record in result:
    print(record)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

Ques.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [8]:
#Ans.8
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
result = engine.execute('select * from books')
for i in result:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

Ques.9 Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for
test.

In [2]:
#Ans.9
!pip install redis

Requirement already satisfied: redis in c:\users\rahul\anaconda3\lib\site-packages (4.3.4)
Requirement already satisfied: packaging>=20.4 in c:\users\rahul\anaconda3\lib\site-packages (from redis) (20.4)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\rahul\anaconda3\lib\site-packages (from redis) (4.0.2)
Requirement already satisfied: deprecated>=1.2.3 in c:\users\rahul\anaconda3\lib\site-packages (from redis) (1.2.13)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\rahul\anaconda3\lib\site-packages (from packaging>=20.4->redis) (2.4.7)
Requirement already satisfied: six in c:\users\rahul\anaconda3\lib\site-packages (from packaging>=20.4->redis) (1.15.0)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\rahul\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.11.2)

In [8]:
#Ans.9
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

<ipython-input-8-3165ed6bd1e2>:5: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

{b'count': b'1', b'name': b'Fester Bestertester'}

Ques.10 Increment the count field of test and print it.

In [9]:
#Ans.10
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')

b'2'